<?xml version="1.0"?>
<launch>
   <arg name="simulated" default="false" />
   <arg name="rviz" default="false" />

   <rosparam param="/techman_arm/in_motion">false</rosparam>

   <!-- Load robot model -->
   <include file="$(find techman_model)/launch/load.launch" />

   <arg name="planner" default="moveit" />
   <arg name="robot_ip" default="" />
   <group unless="$(arg simulated)">

      <!-- Start MoveIt if used for planning -->
      <group if="$(eval planner == 'moveit')">
         <include file="$(find techman_moveit)/launch/move_group.launch">
            <arg name="output" value="log"/>
            <arg name="allow_trajectory_execution" value="false"/>
            <arg name="fake_execution" value="false"/>
         </include>

         <!-- Start IK candidate finder -->
         <node pkg="techman_arm" name="find_ik_candidates" type="find_ik_candidates" output="screen" required="true" /> 
      </group>

      <!-- Start joint state visualizer -->
      <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" output="screen" required="true" /> 
      <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" output="screen" required="true">
         <rosparam>source_list: [/techman_arm/joint_states]</rosparam>
      </node> 

      <!-- Start techman physical arm node -->
      <node pkg="techman_arm" name="techman_arm" type="techman_arm_real.py" args="'$(arg robot_ip)' '$(arg planner)'" output="screen" required="true" /> 
   </group>

   <arg name="gz_gui" default="true" />
   <arg name="gz_world" default="$(find techman_gazebo)/worlds/empty.world" />
   <arg name="gz_offset" default="0 0 0" />
   <group if="$(arg simulated)">

      <!-- Start Gazebo (and MoveIt) -->
      <include file="$(find techman_gazebo)/launch/gazebo.launch">
         <arg name="compile_model" value="false" />
         <arg name="client" value="$(arg gz_gui)" />
         <arg name="world_name" value="$(arg gz_world)" />
         <arg name="model_offset" value="$(arg gz_offset)" />
      </include>

      <!-- Start IK candidate finder -->
      <node pkg="techman_arm" name="find_ik_candidates" type="find_ik_candidates" output="screen" required="true" /> 

      <!-- Start techman simulated arm node -->
      <node pkg="techman_arm" name="techman_arm" type="techman_arm_sim.py" output="screen" required="true" />
   </group>
  
   <!-- Start RViz -->
   <group if="$(arg rviz)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/config.rviz" required="true" />
   </group>
</launch>