<?xml version="1.0"?>
<launch>
   <!-- This file is responsible for viewing TM5-700 URDF in RViz -->
   
   <include file="$(find robot_model)/launch/load_model.launch"/>

   <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_model)/launch/config.rviz" required="true" />
</launch>
