<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="tm5_700" >
   <xacro:include filename="$(find techman_model)/models/tm5_700.xacro" />
   <xacro:include filename="$(find techman_model)/models/tm5_700.gazebo" />

   <xacro:tm5_700_robot />

   <link name="world" />
   <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link="base" />
      <origin xyz="0 0 0" rpy="0 0 0" />
   </joint>
</robot>