<?xml version="1.0"?>
<launch>
   <arg name="client" default="true" />
   <arg name="world_name" default="$(find techman_gazebo)/worlds/empty.world" />
   <arg name="compile_model" default="true" />
   <arg name="model_offset" default="0 0 0" />

   <!-- Load robot model -->
   <group if="$(arg compile_model)">
      <include file="$(find techman_model)/launch/load.launch" />
   </group>

   <!-- Start Gazebo killer -->
   <node name="gazebo_killer" pkg="techman_gazebo" type="gazebo_killer.py" respawn="false" output="screen" />

   <!-- Start simulated world -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="gui" value="$(arg client)" />
   </include>

   <!-- Spawn robot model -->
   <rosparam param="/gazebo/model_offset" subst_value="true">$(arg model_offset)</rosparam>
   <node
      name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="$(eval '-urdf -param robot_description -model techman_robot -x ' + arg('model_offset').split()[0] + ' -y ' + arg('model_offset').split()[1] + ' -z ' + arg('model_offset').split()[2])"
   />
   
   <!-- Set up controller -->
   <rosparam file="$(find techman_gazebo)/config/arm_controller.yml" command="load" />
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />   
   <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" output="screen" />
   <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" output="screen" />

   <!-- Load MoveIt -->
   <remap from="/joint_trajectory_action" to="/arm_controller/follow_joint_trajectory"/>
   <include file="$(find techman_moveit)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
   </include>
</launch>